<% layout("/layouts/boilerplate.ejs") %>
<div class="row mt-4">
    <div class="col-8 offset-3">

    <h1><%=listing.title %></h1>
    </div>
    <div class="card col-6 offset-3 show-card listing-card" >
        <img src="<%= listing.image %>" class="card-img-top show-img" alt="listing-image">
        <div class="card-body">
          <p class="card-text">
            <i>Owned by <%= listing.owner.username %></i></p>
            <p class="card-text"><%=listing.description %></p>
            <p class="card-text"> &#8377; <%=listing.price.toLocaleString("en-IN") %></p>
            <p class="card-text"><%=listing.location %></p>
            <p class="card-text"><%=listing.country %></p>
        </p>
        </div>
      </div>
</div>
<% if(currUser && currUser._id.equals(listing.owner._id)){ %>

<div class="btns">
    <a class="btn btn-dark col-2 offset-3 add-btn" href="/listings/<%= listing._id %>/Edit">Edit </a>

    <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST" >
        <button class="btn btn-dark offset-5">Delete</button>
    </form>
</div>
<br><br><% } %>
<hr>
<% if(currUser){ %>
<div class="col-8 offset-3">
    <h3>Leave a Review</h3>
    <form action="/listings/<%= listing.id %>/reviews" method="POST" novalidate class="needs-validation">
        <div class="mb-3 mt-3">
        <label class="form-label" for:rating> Rating</label>
        <input class="form-range" type="range" min="1" max="5" id="rating" name="review[rating]" >
        </div>

        <div  class="mb-3 mt-3">
            <label class="form-label" for="comment"> Comments</label>
            <textarea class="form-control"  name="review[comment]" id="comment" cols="30" row="10" required></textarea>
            <div class="invalid-feedback">Please submit comments for review</div>
        </div>
        <button class=" btn btn-outline-dark">Submit</button>
    </form>
</div>
<hr>
<% } %>
<h4>All Reviews</h4>
<div class="row">
<% for(review of listing.reviews){ %>
<div class="card col-5 ms-3 mb-3 ">
    <div class="card-body">
        <h5 class="card-title">@<%= review.author.username %></h5>
        <p class="card-text"><%= review.comment %></p>
        <p class="card-text"> <%= review.rating %> Star</p>
    </div>
    <form class="mb-3 mt-3" method="POST" action="/listings/<%= listing.id %>/reviews/<%=review._id%>?_method=DELETE">
        <button class="btn btn-sm btn-dark">Delete</button>
</form>
</div>


 <% } %>
</div>